@page
@model FreeBilling.Web.Pages.CustomerBillingModel
@{
}

@section header{
    <base href="/customerBilling" />
}

@section scripts{
    <script type="module" src="http://localhost:5173/src/main.js"></script>
}
<div id="app"></div>